{% extends 'base.html' %}
{% block pagetitle %} Blog {% endblock %}
{% block ogtitle %} Blog {% endblock %}
{% block body %}
<div class="container" style="padding-left:15px; padding-right:15px">
<h1 class="title">Blog</h1>
{% if not articles %}
<article class="message">
<div class="message-body">The site owner hasn't posted any articles yet.</div>
</article>
{% endif %}
{% for article in articles %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<div class="box">
<article class="media">
<div class="media-content">
<div class="content">
<p class="title">{{ article.title }}</p>
<p class="subtitle" style="font-size:18px;">{{ article.subtitle }}</p>
{% for tag in article.tag.all %}<a href="{% url 'filter_by_tag' tag=tag %}"><span class="tag is-medium">{{ tag }}</span>&nbsp;</a>{% endfor %}
</div>
<nav class="level">
<div class="level-left"><a class="level-item button is-primary" href="{% url 'view_article' id=article.id %}">Read article</a></div>
<div class="level-right" style="text-transform:uppercase;font-size:16px;"><span class="level-item">{{ article.last_edited }}</span></div>
</nav>
</div>
</article>
</div>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% if articles.paginator.num_pages > 1 %}
<div style="height:20px"></div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
{% if articles.has_previous %}
<a href="?page={{ articles.previous_page_number }}" class="button pagination-previous">Prev</a>
{% else %}
<a class="button pagination-previous" disabled>Prev</a>
{% endif %}
<ul class="pagination-list">
{% for page in page_range %}
{% if articles.number == page %}
<li><a class="button pagination-link is-dark" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a></li>
{% else %}
<li><a href="?page={{ page }}" class="button pagination-link" aria-label="Goto page {{ page }}">{{ page }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% if articles.has_next %}
<a href="?page={{ articles.next_page_number }}" class="button pagination-next">Next</a>
{% else %}
<a class="button pagination-next" disabled>Next</a>
{% endif %}
{% endif %}
</nav>
</div>
{% endblock %}