{% extends 'base.html' %}
{% block pagetitle %} Blog | {{ SITE_NAME }} {% endblock %}
{% block ogtitle %} Blog | {{ SITE_NAME }} {% endblock %}
{% block body %}
<div class="container">
<h1 class="title">Blog</h1>
{% if not articles %}
<article class="message">
<div class="message-body">No articles has been posted yet.</div>
</article>
{% endif %}
<div class="content">
{% for article in articles %}
<p class="title is-4"><a href="{% url 'view_article' article_id=article.article_id %}">{{ article.title }}</a></p>
{% if article.subtitle %}<p class="subtitle is-6">{{ article.subtitle }}</p>{% endif %}
<div class="tags">
<span class="tag">{{ article.last_edited }}</span> &nbsp;
{% for tag in article.tag.all %}
<a class="tag is-medium" href="{% url 'filter_by_tag' tag=tag %}">{{ tag }}</a>
{% endfor %}
</div>
{% endfor %}
</div>
{% if articles.paginator.num_pages > 1 %}
<div class="space-20"></div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
{% if articles.has_previous %}
<a href="?page={{ articles.previous_page_number }}" class="button pagination-previous is-link">Prev</a>
{% else %}
<a class="button pagination-previous" disabled>Prev</a>
{% endif %}
<ul class="pagination-list">
{% for page in articles.paginator.page_range %}
{% if articles.number == page %}
<li><a class="button pagination-link is-dark" aria-label="Page {{ page }}" id="current-pager-btn">{{ page }}</a></li>
{% else %}
<li><a href="?page={{ page }}" class="button pagination-link" aria-label="Go to page {{ page }}">{{ page }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% if articles.has_next %}
<a href="?page={{ articles.next_page_number }}" class="button pagination-next is-link">Next</a>
{% else %}
<a class="button pagination-next" disabled>Next</a>
{% endif %}
{% endif %}
</nav>
</div>
{% endblock %}
