<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<title>{% block pagetitle %}{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ SITE_DESCRIPTION }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="{{ SITE_URL }}">
<meta property="og:title" content="{% block ogtitle %}{% endblock %}">
<meta property="og:description" content="{{ SITE_DESCRIPTION }}">
<meta property="og:site_name" content="{{ SITE_NAME }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ SITE_URL }}/static/img/og-image.png">
<meta property="og:locale" content="en_US">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ SITE_NAME }}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ SITE_NAME }}">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="apple-touch-startup-image" href="{% static 'img/apple-touch-icon.png' %}"/>
<link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#363636">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bulma-prefers-dark.min.css' %}">
<link rel="stylesheet" href="{% static 'css/sps.css' %}">
</head>
<body>
<div class="main">
<nav class="navbar is-dark noprint">
<div class="container is-max-desktop is-navbar">
<div class="navbar-brand">
<a class="navbar-item" href="/"><img src="{% static 'img/favicon-32x32.png' %}" alt=""> &nbsp; {{ SITE_NAME }}</a>
<span class="navbar-burger burger" data-target="navMenu" >
<span></span>
<span></span>
<span></span>
</span>
</div>
<div id="navMenu" class="navbar-menu">
<div class="navbar-end">
<a class="navbar-item" href="{% url 'homepage' %}">Home</a>
<a class="navbar-item" href="{% url 'blog' %}">Blog</a>
<a class="navbar-item" href="{% url 'projects' %}">Projects</a>
<a class="navbar-item" href="{% url 'contact' %}">Contact</a>
</div>
</div>
</div>
</nav>
<section class="hero is-dark">
<div class="hero-body has-text-centered noprint">
<h1 class="title is-2">{{ HEADER_TITLE }}</h1>
<h2 class="subtitle">{{ HEADER_SUBTITLE }}</h2>
</div>
</section>
<div class="printonly">
<h1 class="title is-4">{{ HEADER_TITLE }}</h1>
<h2 class="subtitle is-6">{{ HEADER_SUBTITLE }}</h2>
<p></p>
</div>
<section class="section">
{% block body %}{% endblock %}
</section>
<footer class="sps-footer">
<div class="content has-text-centered">
{% for link in SOCIAL_LINKS %}
{% if forloop.counter != 1 %} &middot; {% endif %}<a href="{{ link.url }}">{{ link.platform }}</a>
{% endfor %}<br>
&copy; {% now "Y" %} {{ FOOTER_COPYRIGHT }}
</div>
</footer>
<footer class="sps-print-footer"><small>
<i>Printed from <a href="{{ SITE_URL }}">{{ SITE_URL }}</a></i><br>
&copy; {% now "Y" %} {{ FOOTER_COPYRIGHT }}
</small></footer>
<script async src="{% static 'js/sps.js' %}"></script>
</div>
</body>
</html>
