<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block pagetitle %}{% endblock %} | {{ SITE_NAME }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ SITE_DESCRIPTION }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="{{ SITE_URL }}">
<meta property="og:title" content="{% block ogtitle %}{% endblock %}| {{ SITE_NAME }}">
<meta property="og:description" content="{{ SITE_DESCRIPTION }}">
<meta property="og:site_name" content="{{ SITE_NAME }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ SITE_URL }}/static/img/og-image.png">
<meta property="og:locale" content="en_US">
<link rel="manifest" href="/static/img/site.webmanifest">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ SITE_NAME }}">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ SITE_NAME }}">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-startup-image" href="/static/img/apple-touch-icon.png"/>
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#363636">
<meta name="msapplication-config" content="/static/img/browserconfig.xml">
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-TileColor" content="#f0f0f0">
<meta name="msapplication-TileImage" content="/static/img/mstile-150x150.png">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<meta name="theme-color" content="#ffffff">
<!--[if lt IE 9]><script type="text/javascript" src="/static/js/html5shiv.min.js" nonce="{{ NONCE }}"></script><![endif]-->
<link rel="stylesheet" href="/static/css/sps.css">
<link rel="stylesheet" href="/static/css/bulma.min.css">
<link rel="stylesheet" href="/static/css/bulma-prefers-dark.min.css">
</head>
<body>
<div class="main">
<section class="hero is-dark">
<nav class="navbar is-dark noprint">
<div class="container is-fluid">
<div class="navbar-brand">
<a class="navbar-item" href="/"><img src="/static/img/favicon-32x32.png" alt=""> &nbsp; {{ SITE_NAME }}</a>
<span class="navbar-burger burger" data-target="navMenu" >
<span></span>
<span></span>
<span></span>
</span>
</div>
<div id="navMenu" class="navbar-menu">
<div class="navbar-end">
<a class="navbar-item" href="/">Home</a>
<a class="navbar-item" href="{% url 'blog' %}">Blog</a>
<a class="navbar-item" href="{% url 'projects' %}">Projects</a>
<a class="navbar-item" href="{% url 'contact' %}">Contact</a>
</div>
</div>
</div>
</nav>
<div class="hero-body has-text-centered noprint">
<h1 class="title is-2">{{ HEADER_TITLE }}</h1>
<h2 class="subtitle">{{ HEADER_SUBTITLE }}</h2>
</div>
</section>
<div class="printonly">
<img src="/static/img/favicon-32x32.png" alt="">
<h1 class="title is-4">{{ HEADER_TITLE }}</h1>
<h2 class="subtitle is-6">{{ HEADER_SUBTITLE }}</h2>
<p></p>
</div>
<div class="space-40"></div>
{% block body %}{% endblock %}
<div class="space-40"></div>
<footer class="sps-footer">
<div class="content has-text-centered">
{% for link in social_links %}
{% if forloop.counter != 1 %} &middot; {% endif %}<a href="{{ link.url }}">{{ link.platform }}</a>
{% endfor %}<br>
&copy; {% now "Y" %} {{ FOOTER_COPYRIGHT }}
</div>
</footer>
<footer class="sps-print-footer"><small>
<i>Printed from <a href="{{ SITE_URL }}">{{ SITE_URL }}</a></i><br>
&copy; {% now "Y" %} {{ FOOTER_COPYRIGHT }}
</small></footer>
<script async src="/static/js/sps.js" nonce="{{ NONCE }}"></script>
</div>
</body>
</html>
