{% extends 'base.html' %}
{% block pagetitle %} Home {% endblock %}
{% block ogtitle %} Home {% endblock %}
{% block body %}
{% load markdown %}
<div class="container side-padding">
{% if home.about_me %}
<h1 class="title">About Me</h1>
<div class="content">
{{ home.about_me|markdown|safe }}
</div>
{% endif %}
{% if home.skills %}
<h1 class="title">My Skills</h1>
<div class="content">
{{ home.skills|markdown|safe }}
</div>
{% endif %}
{% if home.resume %}
<div class="content noprint"><a class="button is-link" href="{{ home.resume.url }}" target="_blank" rel="noopener noreferrer">Resume</a></div>
{% endif %}
{% if latest_articles %}
<h1 class="title">Blog</h1>
<p class="subtitle is-5"><a href="{% url 'blog' %}">View all articles</a></p>
{% for article in latest_articles %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<div class="box">
<article class="media">
<div class="media-content">
<div class="content">
<p class="title"><a href="{% url 'view_article' id=article.id %}">{{ article.title }}</a></p>
<p class="subtitle blog-subtitle">{{ article.subtitle }}</p>
</div>
<nav class="level">
<div class="level-left">{% for tag in article.tag.all %}<a href="{% url 'filter_by_tag' tag=tag %}"><span class="tag is-medium">{{ tag }}</span>&nbsp;</a>{% endfor %}</div>
<div class="level-right blog-date"><span class="level-item">{{ article.last_edited }}</span></div>
</nav>
</div>
</article>
</div>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% if latest_projects %}
<h1 class="title">My Projects</h1>
<p class="subtitle is-5"><a href="{% url 'projects' %}">View all projects</a></p>
<div class="columns">
{% for project in latest_projects %}
<div class="column is-half">
<div class="card">
{% if project.embed %}
<div class="noprint">{{ project.embed.html|safe }}</div>
{% if project.image %}
<div class="printonly"><div class="card-image"><figure class="image is-16by9" ><img src="{{ project.image.image.url }}" alt="{{ project.title }}"></figure></div></div>
{% endif %}
{% elif project.image %}
<div class="card-image"><figure class="image is-16by9" >
<img src="{{ project.image.image.url }}" alt="{{ project.title }}">
</figure></div>
{% endif %}
<div class="card-content">
{% if project.url %}
<p class="title"><a href="{{ project.url }}">{{ project.title }}</a></p>
{% else %}
<p class="title">{{ project.title }}</p>
{% endif %}
<div class="content">{{ project.description|markdown|safe }}</div>
</div>
</div>
</div>
{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
