{% extends 'base.html' %}
{% block pagetitle %} {{ SITE_NAME }} {% endblock %}
{% block ogtitle %} {{ SITE_NAME }} {% endblock %}
{% block body %}
{% load markdown %}
<div class="container">
{% if home.resume %}
<div class="content noprint"><a class="button is-medium is-link" href="{{ home.resume.url }}" target="_blank" rel="noopener noreferrer">Resume</a></div>
{% endif %}
{% if home.about_me %}
<h1 class="title">About Me</h1>
<div class="content">
{{ home.about_me|markdown|safe }}
</div>
{% endif %}
{% if home.skills %}
<h1 class="title">My Skills</h1>
<div class="content">
{{ home.skills|markdown|safe }}
</div>
{% endif %}
{% if latest_articles %}
<h1 class="title">Blog</h1>
<p class="subtitle is-5"><a href="{% url 'blog' %}">View all articles</a></p>
<div class="box">
<div class="content">
{% for article in latest_articles %}
<p class="title is-4"><a href="{% url 'view_article' article_id=article.article_id %}">{{ article.title }}</a></p>
{% if article.subtitle %}<p class="subtitle is-6">{{ article.subtitle }}</p>{% endif %}
<div class="tags">
<span class="tag">{{ article.last_edited }}</span> &nbsp;
{% for tag in article.tag.all %}
<a class="tag is-medium" href="{% url 'filter_by_tag' tag=tag %}">{{ tag }}</a>
{% endfor %}
</div>
{% endfor %}
</div>
</div>
{% endif %}
{% if latest_projects %}
<h1 class="title">My Projects</h1>
<p class="subtitle is-5"><a href="{% url 'projects' %}">View all projects</a></p>
<div class="columns">
{% for project in latest_projects %}
<div class="column is-half">
<div class="card">
{% if project.embed %}
<div class="noprint">{{ project.embed.html|safe }}</div>
{% if project.image %}
<div class="printonly"><div class="card-image"><figure class="image is-16by9" ><img src="{{ project.image.image.url }}" alt="{{ project.title }}"></figure></div></div>
{% endif %}
{% elif project.image %}
<div class="card-image"><figure class="image is-16by9" >
<img src="{{ project.image.image.url }}" alt="{{ project.title }}">
</figure></div>
{% endif %}
<div class="card-content">
{% if project.url %}
<p class="title is-4"><a href="{{ project.url }}">{{ project.title }}</a></p>
{% else %}
<p class="title is-4">{{ project.title }}</p>
{% endif %}
<div class="content">{{ project.description|markdown|safe }}</div>
</div>
</div>
</div>
{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
