<!DOCTYPE html>
<html>
<head>
<title>{% block pagetitle %}{% endblock %} // {{ SITE_NAME }}</title>
<link rel="icon" href="/static/images/favicon.png">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ SITE_DESCRIPTION }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="{{ SITE_URL }}" />
<meta property="og:title" content="{% block ogtitle %}{% endblock %} // {{ SITE_NAME }}" />
<meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
<meta property="og:site_name" content="{{ SITE_NAME }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<!--[if lt IE 9]> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> 
<![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
</head>
<body>
<section class="section"><div class="container"></div></section>
{% block body %}{% endblock %}
</body>
</html>