{% extends 'base.html' %}
{% block pagetitle %} Contact Me {% endblock %}
{% block ogtitle %} Contact Me {% endblock %}
{% block body %}
<div class="container" style="padding-left:15px; padding-right:15px">
<h1 class="title">Contact Me</h1>
<p class="subtitle">Want to get in touch? <a href="{% url 'message' %}"><i class="fas fa-envelope"></i> Send me a message</a> </p>
{% if social_links %}
<p></p>
<h1 class="title">Follow me on social media</h1>
{% for link in social_links %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<a class="button is-fullwidth is-medium" style="color: white;background-color: #{{ link.color }}" href="{{ link.url }}" title="{{ link }}" target="_blank" rel="noopener noreferrer">
{% if link.fa_icon %}
<i class="{{ link.fa_icon }}"></i>&nbsp; {% if link.display_at %}@{% endif %}{{ link.username }}
{% else %}
{{ link }}
{% endif %}
</a>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}