{% extends 'base.html' %}
{% block pagetitle %} Contact Me {% endblock %}
{% block ogtitle %} Contact Me {% endblock %}
{% block body %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container side-padding">
<h1 class="title">Contact Me</h1>
<p class="subtitle">Send me a message, and I'll get back to you soon! {% if has_pgp %}<br><small><a href="{% url 'pgp_pubkey' %}">PGP Public Key</a></small>{% endif %}</p>
<form method="POST">
{% csrf_token %}
<div class="field">
<label class="label" for="id_name">{{ form.name.label }}</label>
<div class="control has-icons-left">
{{ form.name }}
<span class="icon is-small is-left"><i class="material-icons">person</i></span>
</div>
{% if form.name.errors %}<article class="message is-danger"><div class="form-error"><strong>{{ form.name.errors }}</strong></div></article>{% endif %}
</div>
<div class="field">
<label class="label" for="id_email">{{ form.email.label }}</label>
<div class="control has-icons-left">
<span class="icon is-small is-left"><i class="material-icons">email</i></span>
{{ form.email }}
</div>
{% if form.email.errors %}<article class="message is-danger"><div class="form-error"><strong>{{ form.email.errors }}</strong></div></article>{% endif %}
</div>
<div class="field">
<label class="label" for="id_message">Message</label>
<div class="control">{{ form.message }}</div>
{% if form.message.errors %}<article class="message is-danger"><div class="form-error"><strong>{{ form.message.errors }}</strong></div></article>{% endif %}
</div>
<div class="field">
<label class="label" for="id_captcha">Verification</label>
<div class="control">{{ form.captcha }}</div>
<button class="button" id="get-new-captcha"><span class="icon is-small is-left"><i class="material-icons">refresh</i></span></button>
{% if form.captcha.errors %}<article class="message is-danger"><div class="form-error"><strong>{{ form.captcha.errors }}</strong></div></article>{% endif %}
</div>
<div class="field is-grouped">
<div class="control"><button class="button is-link" type="submit">Send</button></div>
</div>
</form>
</div>
{% endblock %}