{% extends 'base.html' %}
{% block pagetitle %} Contact | {{ SITE_NAME }} {% endblock %}
{% block ogtitle %} Contact | {{ SITE_NAME }} {% endblock %}
{% block body %}
<div class="container">
<h1 class="title">Contact Me</h1>
<h2 class="subtitle">Want to get in touch with me? Please fill out the form.</h2>
<form method="POST">
{% csrf_token %}
{% for field in form %}
<div class="field">
<label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
<div class="control">{{ field }}</div>
{% if field.errors %}
<article class="message is-danger"><div class="message-header"><strong>{{ field.errors }}</strong></div></article>
{% endif %}
</div>
{% endfor %}
{% if hcaptcha_sitekey %}
<div class="field">
<script src="https://hcaptcha.com/1/api.js" async defer></script>
<div class="h-captcha" id="h-captcha" data-sitekey="{{ hcaptcha_sitekey }}"></div>
{% if hcaptcha_fail %}
<article class="message is-danger"><div class="message-header"><strong>Verification failed. Please try again.</strong></div></article>
{% endif %}
<noscript>
<article class="message is-info"><div class="message-header"><strong>Please enable JavaScript to send messages.</strong></div></article>
</noscript>
</div>
{% endif %}
<div class="field">
<div class="control"><button class="button is-link" type="submit">Send</button></div>
</div>
</form>
{% if pgp_fingerprint and has_pgp_key %}
<div class="space-20"></div>
<div class="box">
<a href="{% url 'pgp_key' %}">PGP Public Key</a><br>
Fingerprint: <code>{{ pgp_fingerprint }}</code>
</div>
{% endif %}
</div>
{% endblock %}
