{% extends 'base.html' %}
{% block pagetitle %} Message Sent {% endblock %}
{% block ogtitle %} Message Sent {% endblock %}
{% block body %}
<link rel="stylesheet" href="/static/css/fontawesome/fontawesome.min.css">
<link rel="stylesheet" href="/static/css/fontawesome/solid.min.css">
<div class="container side-padding">
<h1 class="title">Contact Me</h1>
<p class="subtitle">Your message is sent successfully!</p>
<p><a class="button is-link" href="/"><i class="fas fa-home"></i>&nbsp;Homepage</a></p>
</div>
{% endblock %}
