{% extends 'base.html' %}
{% block pagetitle %} PGP Public Key {% endblock %}
{% block ogtitle %} PGP Public Key {% endblock %}
{% block body %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container side-padding">
<h1 class="title">Get PGP Public Key</h1>
<h2 class="subtitle">Verification required</h2>
<form method="POST">
{% csrf_token %}
<div class="field">
<noscript>
<article class="message is-link">
<div class="message-header"><p>Please enable JavaScript to complete verification.</p></div>
</article>
</noscript>
{% load recaptcha2 %}
{% recaptcha_init %}
{{ form.captcha }}
{% if form.captcha.errors %}<article class="message is-danger"><div class="form-error"><strong>Please try again.</strong></div></article>{% endif %}
</div>
<div class="field is-grouped">
<div class="control"><button class="button is-link" type="submit">Continue</button></div>
</div>
</form>
</div>
{% endblock %}