bleach==6.2.0
Django==4.2.20
django-htmlmin==0.11.0
django-solo==2.4.0
gunicorn==23.0.0
mistune==3.1.3
pillow==11.1.0
psycopg2-binary==2.9.10
Pygments==2.19.1
PyMySQL==1.1.1
python-dotenv==1.1.0
requests==2.32.3
## The following requirements were added by pip freeze:
asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
html5lib==1.1
idna==3.10
packaging==24.2
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.13.1
urllib3==2.2.3
webencodings==0.5.1
