bleach==6.1.0
Django==4.2.9
django-htmlmin==0.11.0
django-solo==2.2.0
gunicorn==21.2.0
mistune==3.0.2
mysqlclient==2.2.1
Pillow==10.2.0
psycopg2-binary==2.9.9
Pygments==2.17.2
python-dotenv==1.0.0
requests==2.31.0
## The following requirements were added by pip freeze:
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
html5lib==1.1
idna==3.6
packaging==23.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
urllib3==2.1.0
webencodings==0.5.1
