############################################################################
# Settings for this site
# Rename this file to 'site_config.env' and edit settings accordingly
# All fields are REQUIRED, unless otherwise noted
############################################################################

# Allowed hostnames
# Separate URLs by commas. NO space before/after commas
ALLOWED_HOSTS=example.com,www.example.com

# Database credentials
# Supported databases: PostgresSQL, MySQL, SQLite
# MySQL URL scheme: mysql://USER:PASSWORD@HOST:PORT/NAME
# Postgres URL scheme: postgres://USER:PASSWORD@HOST:PORT/NAME
# SQLite URL scheme: sqlite:///PATH
DATABASE_URL=sqlite:///site.db

# URL to the Admin Portal. Change the default to avoid brute-forcing
# Include a trailing slash, but don't include preceding slash
# Leave this blank to disable the Admin Portal
ADMIN_URL=admin/

# Nonce for CSP. If you're not using CSP with nonce, leave this blank.
NONCE=
