body {
	background-color: #363636
}
.container {
	color: #fff;
	text-align: center;
	width: 100%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: auto
}
.errorcode {
	font-family: monospace;
	font-size: 8em
}
.msg {
	font-family: sans-serif;
	font-size: 1.3em
}
.button {
	background-color: #0d8aee;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: sans-serif;
	font-size: 1em
}
.top-space {
	padding-top: 20px
}