.center {
margin: auto;
width: 90%;
padding: 10px;
padding-bottom: 25px;
}
.main {
min-height: 100vh;
overflow: hidden;
display: block;
position: relative;
padding-bottom: 3em;
}
.custom-footer {
background-color: #363636;
color: white;
position:absolute;
clear: both;
width:100%;
bottom:0px;
height: 4em;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}