<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block pagetitle %}{% endblock %}| {{ SITE_NAME }}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ SITE_DESCRIPTION }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="{{ SITE_URL }}" />
<meta property="og:title" content="{% block ogtitle %}{% endblock %}| {{ SITE_NAME }}" />
<meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
<meta property="og:site_name" content="{{ SITE_NAME }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ SITE_URL }}/static/images/og-image.png">
<meta property="og:locale" content="en_US" />
<link rel="manifest" href="/static/icons/site.webmanifest">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ SITE_NAME }}">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ SITE_NAME }}" />
<link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="/static/icons/apple-touch-icon.png"/>
<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#363636">
<meta name="msapplication-config" content="/static/icons/browserconfig.xml">
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-TileColor" content="#f0f0f0">
<meta name="msapplication-TileImage" content="/static/icons/mstile-150x150.png">
<link rel="shortcut icon" href="/static/icons/favicon.ico">
<meta name="theme-color" content="#ffffff">
<!--[if lt IE 9]><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
<link rel="stylesheet" href="/static/css/sps.css">
<link rel="stylesheet" href="/static/css/bulmaswatch-materia.css">
</head>
<body>
<div class="main">
<section class="hero is-dark is-bold">
<nav class="navbar is-transparent">
<div class="container is-fluid">
<div class="navbar-brand">
<a class="navbar-item" href="/"><img src="/static/icons/favicon-32x32.png" alt=""> &nbsp; {{ SITE_NAME }}</a>
<span class="navbar-burger burger" data-target="navMenu" style="color:lightgray">
<span></span>
<span></span>
<span></span>
</span>
</div>
<div id="navMenu" class="navbar-menu">
<div class="navbar-end">
<a class="navbar-item" href="/">Home</a>
<a class="navbar-item" href="{% url 'blog' %}">Blog</a>
<a class="navbar-item" href="{% url 'projects' %}">Projects</a>
<a class="navbar-item" href="{% url 'contact' %}">Contact</a>
</div>
</div>
</div>
</nav>
<div class="hero-body has-text-centered">
<div class="container">
<h1 class="title is-2">{{ HEADER_TITLE }}</h1>
<h2 class="subtitle">{{ HEADER_SUBTITLE }}</h2>
</div>
</div>
</section>
<div style="height: 50px"></div>
{% block body %}{% endblock %}
<div style="height: 50px"></div>
<footer class="sps-footer">
<div class="content has-text-centered">
{% for link in social_links %}{% if forloop.counter != 1 %}&nbsp;{% endif %}<a href="{{ link.url }}" title="{{ link.username }}">{{ link.platform }}</a> {% endfor %}<br>
&copy; {{ YEAR }} {{ FOOTER_COPYRIGHT }}
</p></div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@11.0.6/dist/lazyload.min.js"></script>
<script type="text/javascript">
(function() {
var burger = document.querySelector('.burger');
var nav = document.querySelector('#'+burger.dataset.target);
burger.addEventListener('click', function(){
burger.classList.toggle('is-active');
nav.classList.toggle('is-active');
});
})();
var lazyLoadInstance = new LazyLoad({elements_selector: ".lazy"});
</script>
{% if GA_TRACKING_ID or FATHOM_URL and FATHOM_SITE_ID %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script async src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
"palette": {"popup": {"background": "#363636"},"button": {"background": "#3273dc"}},
"theme": "edgeless", "position": "bottom-right",
"content": {"message": "This website uses cookies to analyze site traffic and improve your experience."}
})});
</script>
{% endif %}
{% if FATHOM_URL and FATHOM_SITE_ID %}
<script>
(function(f, a, t, h, o, m){
a[h]=a[h]||function(){(a[h].q=a[h].q||[]).push(arguments)};
o=f.createElement('script'),
m=f.getElementsByTagName('script')[0];
o.async=1; o.src=t; o.id='fathom-script';
m.parentNode.insertBefore(o,m)
})(document, window, '{{ FATHOM_URL }}', 'fathom');
fathom('set', 'siteId', '{{ FATHOM_SITE_ID }}');
fathom('trackPageview');
</script>
{% endif %}
{% if GA_TRACKING_ID %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_ID }}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ GA_TRACKING_ID }}');
</script>
{% endif %}
</body>
</html>