{% extends 'base.html' %}
{% block pagetitle %} Log in {% endblock %}
{% block body %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container side-padding">
<h1 class="title">Log in</h1>
<form method="POST">
{% csrf_token %}
{% if form.non_field_errors %}<article class="message is-danger"><div class="message-body"><strong>{{ form.non_field_errors }}</strong></div></article>{% endif %}
<div class="field">
<label class="label">{{ form.username.label }}</label>
<div class="control has-icons-left">
{{ form.username }}
<span class="icon is-small is-left"><i class="material-icons">person</i></span>
</div>
</div>
<div class="field">
<label class="label">{{ form.password.label }}</label>
<div class="control has-icons-left">
{{ form.password }}
<span class="icon is-small is-left"><i class="material-icons">lock</i></span>
</div>
</div>
<div class="field">
<label class="label" for="id_captcha">Verification</label>
<div class="control">{{ form.captcha }}</div>
{% if form.captcha.errors %}<article class="message is-danger"><div class="form-error"><strong>{{ form.captcha.errors }}</strong></div></article>{% endif %}
</div>
<div class="field is-grouped">
<div class="control"><button class="button is-link" type="submit">Log in</button></div>
</div>
</form>
</div>
{% endblock %}