<!DOCTYPE html>
<html>
<head>
<title>Oops!</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
<section class="hero is-fullheight is-bold is-dark">
<nav class="navbar is-transparent">
<div class="container is-fluid"><div class="navbar-brand"><a class="navbar-item" href="/"><img src="/static/images/logo.png" alt=""> &nbsp; {{ SITE_NAME }}</a></div></div>
</nav>
<div class="hero-body has-text-centered">
<div class="container">
<h1 class="title is-1 is-spaced">Oops!</h1>
<h2 class="subtitle is-5 is-spaced">The page you're looking for doesn't exist.</h2>
<hr>
<p>Error code: <code>404</code></p>
</div>
</div>
</section>
<script type="text/javascript">
(function() {
var burger = document.querySelector('.burger');
var nav = document.querySelector('#'+burger.dataset.target);
burger.addEventListener('click', function(){
burger.classList.toggle('is-active');
nav.classList.toggle('is-active');
});
})();
</script>
</body>
</html>