<!DOCTYPE html>
<html>
<head>
<title>Oops!</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
<section class="hero is-fullheight is-bold is-dark">
<div class="hero-body">
<div class="container" style="text-align:center">
<h1 class="title is-spaced" style="font-size: 10em">Oops!</h1>
<h2 class="subtitle is-4 is-spaced">The page you're looking for doesn't exist.</h2>
<hr>
<p>Error code: <code>404</code></p>
</div>
</div>
</section>
</body>
</html>