<!DOCTYPE html>
<html>
<head>
<title>{% block pagetitle %}{% endblock %} // {{ SITE_NAME }}</title>
<link rel="icon" href="/static/images/favicon.png">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ SITE_DESCRIPTION }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="{{ SITE_URL }}" />
<meta property="og:title" content="{% block ogtitle %}{% endblock %} // {{ SITE_NAME }}" />
<meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
<meta property="og:site_name" content="{{ SITE_NAME }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<!--[if lt IE 9]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
<a class="navbar-item" href="/"><img src="/static/images/logo.png" alt="" width="28" height="28"> &nbsp; {{ SITE_NAME }}</a>
<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
</a>
</div>
<div class="navbar-end">
<a class="navbar-item" href="/">Home</a>
<a class="navbar-item" href="{% url 'projects' %}">Projects</a>
<a class="navbar-item" href="{% url 'contact' %}">Contact</a>
</div>
</nav>
<div style="margin-top: 50px"></div>
{% block body %}{% endblock %}
</body>
</html>