{% extends 'base.html' %}
{% block pagetitle %} Log in {% endblock %}
{% block body %}
<div class="container" style="padding-left:15px; padding-right:15px">
<h1 class="title">Log in</h1>
<form method="POST">
{% csrf_token %}
{% if form.non_field_errors %}<article class="message is-danger"><div class="message-body"><strong>{{ form.non_field_errors }}</strong></div></article>{% endif %}
<div class="field">
<label class="label">{{ form.username.label }}</label>
<div class="control has-icons-left">
{{ form.username }}
<span class="icon is-small is-left"><i class="fas fa-user"></i></span>
</div>
</div>
<div class="field">
<label class="label">{{ form.password.label }}</label>
<div class="control has-icons-left">
{{ form.password }}
<span class="icon is-small is-left"><i class="fas fa-key"></i></span>
</div>
</div>
{% if form.captcha %}
{% load recaptcha2 %}
{% recaptcha_init %}
<div class="field">
<div class="control">{{ form.captcha }}</div>
{% if form.captcha.errors %}<article class="message is-danger"><div class="message-body"><strong>Please complete the CAPTCHA</strong></div></article>{% endif %}
</div>
{% endif %}
<div class="field is-grouped">
<div class="control"><button class="button is-link" type="submit">Log in</button></div>
</div>
</form>
</div>
{% endblock %}