{% extends 'base.html' %}
{% block pagetitle %} My Projects {% endblock %}
{% block ogtitle %} My Projects {% endblock %}
{% block body %}
<style>
.video-container {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
</style>
<div class="container" style="padding-left:15px; padding-right:15px">
<h1 class="title">My Projects</h1>
{% if not projects %}
<article class="message">
<div class="message-body">The site owner hasn't posted any projects yet.</div>
</article>
{% endif %}
{% for project in projects %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<div class="card">
{% if project.youtube_id %}
<div class="video-container"><iframe src="https://www.youtube-nocookie.com/embed/{{ project.youtube_id }}" frameborder="0" allowfullscreen></iframe></div>
{% elif project.image %}
<div class="card-image"><figure class="image is-16by9" ><img src="{{ project.image.url }}" alt="{{ project.title }}"></figure></div>
{% endif %}
<div class="card-content">
<p class="title">{{ project.title }}</p>
{% load markup_tags %}
<div class="content">{{ project.description|apply_markup:"markdown" }}</div>
{% if project.url %}
<a class="button is-link" href="{{ project.url }}" target="_blank">
{% if project.fa_icon %}<i class="{{ project.fa_icon }}"></i>&nbsp;{% endif %}{{ project.url_description}} &nbsp;<i class="fas fa-external-link-alt"></i>
</a>
{% endif %}
</div>
</div>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% if projects.paginator.num_pages > 1 %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
{% if projects.has_previous %}
<a href="?page={{ projects.previous_page_number }}" class="pagination-previous">Previous</a>
{% else %}
<a class="pagination-previous" disabled>Previous</a>
{% endif %}
{% if projects.has_next %}
<a href="?page={{ projects.next_page_number }}" class="pagination-next">Next</a>
{% else %}
<a class="pagination-next" disabled>Next</a>
{% endif %}
<ul class="pagination-list">
{% for page in page_range %}
{% if projects.number == page %}
<li><a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a></li>
{% else %}
<li><a href="?page={{ page }}" class="pagination-link" aria-label="Goto page {{ page }}">{{ page }}</a></li>
{% endif %}
{% endfor %}
{% endif %}
</ul>
</nav>
</div>
{% endblock %}