{% extends 'base.html' %}
{% block pagetitle %} My Projects {% endblock %}
{% block ogtitle %} My Projects {% endblock %}
{% block body %}
<div class="container side-padding">
<h1 class="title">My Projects</h1>
{% if not projects %}
<article class="message">
<div class="message-body">No projects has been posted yet.</div>
</article>
{% endif %}
{% for project in projects %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<div class="card">
{% if project.embed %}
<div class="noprint">{{ project.embed.html|safe }}</div>
{% if project.image %}
<div class="printonly"><div class="card-image"><figure class="image is-16by9" ><img src="{{ project.image.image.url }}" alt="{{ project.title }}"></figure></div></div>
{% endif %}
{% elif project.image %}
<div class="card-image"><figure class="image is-16by9" >
<img src="{{ project.image.image.url }}" alt="{{ project.title }}">
</figure></div>
{% endif %}
<div class="card-content">
{% if project.url %}
<p class="title"><a href="{{ project.url }}">{{ project.title }}</a></p>
{% else %}
<p class="title">{{ project.title }}</p>
{% endif %}
{% load markdown %}
<div class="content">{{ project.description|markdown|safe }}</div>
</div>
</div>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% if projects.paginator.num_pages > 1 %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
{% if projects.has_previous %}
<a href="?page={{ projects.previous_page_number }}" class="button pagination-previous">Prev</a>
{% else %}
<a class="button pagination-previous" disabled>Prev</a>
{% endif %}
{% if projects.has_next %}
<a href="?page={{ projects.next_page_number }}" class="button pagination-next">Next</a>
{% else %}
<a class="button pagination-next" disabled>Next</a>
{% endif %}
<ul class="pagination-list">
{% for page in page_range %}
{% if projects.number == page %}
<li><a class="button pagination-link is-dark" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a></li>
{% else %}
<li><a href="?page={{ page }}" class="button pagination-link" aria-label="Goto page {{ page }}">{{ page }}</a></li>
{% endif %}
{% endfor %}
{% endif %}
</ul>
</nav>
</div>
{% endblock %}