{% extends 'base.html' %}
{% block pagetitle %} Home {% endblock %}
{% block ogtitle %} Home {% endblock %}
{% block body %}
<link rel="stylesheet" href="/static/css/pygments.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container" style="padding-left:15px; padding-right:15px">
<h1 class="title">About Me</h1>
{% load markdown %}
<div class="content">
{{ home.about_me|markdown|safe }}
{% if home.resume %}<p><a class="button is-primary" href="{{ home.resume.url }}" target="_blank" rel="noopener noreferrer">Resume&nbsp;<i class="material-icons">launch</i></a></p>{% endif %}
</div>
{% if latest_articles %}
<h1 class="title">Blog</h1>
<p class="subtitle is-5"><a href="{% url 'blog' %}">View all articles</a></p>
{% for article in latest_articles %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<div class="box">
<article class="media">
<div class="media-content">
<div class="content">
<p class="title">{{ article.title }}</p>
<p class="subtitle" style="font-size:18px;">{{ article.subtitle }}</p>
{% for tag in article.tag.all %}<a href="{% url 'filter_by_tag' tag=tag %}"><span class="tag is-medium">{{ tag }}</span>&nbsp;</a>{% endfor %}
</div>
<nav class="level">
<div class="level-left"><a class="level-item button is-primary" href="{% url 'view_article' id=article.id %}">Read article</a></div>
<div class="level-right" style="text-transform:uppercase;font-size:16px;"><span class="level-item">{{ article.last_edited }}</span></div>
</nav>
</div>
</article>
</div>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% if latest_projects %}
<h1 class="title">My Projects</h1>
<p class="subtitle is-5"><a href="{% url 'projects' %}">View all projects</a></p>
{% for project in latest_projects %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<div class="card">
{% if project.video %}
<div style="padding:56.25% 0 0 0;position:relative;"><iframe class="lazy" title="{{ project.title }}" src="{{ project.video.embed_url }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
{% elif project.image %}
<div class="card-image"><figure class="image is-16by9" ><img class="lazy" data-src="{{ project.image.image.url }}" alt="{{ project.title }}"></figure></div>
{% endif %}
<div class="card-content">
<p class="title">{{ project.title }}</p>
{% load markdown %}
<div class="content">{{ project.description|markdown|safe }}</div>
{% if project.url %}
<a class="button is-primary" href="{{ project.url }}" target="_blank" rel="noopener noreferrer">{{ project.url_description }}&nbsp;<i class="material-icons">launch</i></a>
{% endif %}
</div>
</div>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}