{% extends 'base.html' %}
{% block pagetitle %} Home {% endblock %}
{% block ogtitle %} Home {% endblock %}
{% block body %}
<div class="container" style="padding-left:15px; padding-right:15px">
<h1 class="title">About Me</h1>
{% load markup_tags %}
<div class="content">{{ home.about_me|apply_markup:"markdown" }}</div>
{% if featured_articles %}
<h1 class="title">Featured Articles</h1>
{% for article in featured_articles %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<div class="card">
<div class="card-content">
<h2 class="title is-4"><a href="{% url 'view_article' id=article.id %}">{{ article }}</a></h2>
{% if article.subtitle %}
<h3 class="subtitle is-6">{{ article.subtitle }}</h3>
{% else %}
<h3 class="subtitle is-6">&nbsp;</h3>
{% endif %}
{% if article.time_posted == article.last_edited %}
<p>Posted on <strong>{{ article.time_posted }}</strong></p>
{% else %}
<p>Last edited on <strong>{{ article.last_edited }}</strong></p>
{% endif %}
</div>
</div>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% if featured_projects %}
<h1 class="title">Featured Projects</h1>
{% for project in featured_projects %}
{% if forloop.counter0|divisibleby:2 %}
<div class="columns">
{% endif %}
<div class="column is-half">
<div class="card">
{% if project.video %}
<div style="padding:56.25% 0 0 0;position:relative;"><iframe class="lazy" src="{{ project.video.embed_url }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
{% elif project.image %}
<div class="card-image"><figure class="image is-16by9" ><img class="lazy" data-src="{{ project.image.image.url }}" alt="{{ project.title }}"></figure></div>
{% endif %}
<div class="card-content">
<p class="title">{{ project.title }}</p>
{% load markup_tags %}
<div class="content">{{ project.description|apply_markup:"markdown" }}</div>
{% if project.url %}
<a class="button is-link" href="{{ project.url }}" target="_blank" rel="noopener noreferrer">
{% if project.fa_icon %}<i class="{{ project.fa_icon }}"></i>&nbsp;{% endif %}{{ project.url_description}} &nbsp;<i class="fas fa-external-link-alt"></i>
</a>
{% endif %}
</div>
</div>
</div>
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}