.main {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 3em;
}
.space-20 {
	height: 20px
}
.sps-footer {
	position: absolute;
	clear: both;
	width: 100%;
	bottom: 0;
	padding-top: .6rem;
	padding-bottom: .6rem;
}
@media print {
	.noprint {
		display: none
	}
	.space-20 {
		display: none
	}
	.sps-footer {
		display: none
	}
	.sps-print-footer {
		padding-top: 20px;
	}
}
@media screen {
	.printonly {
		display: none
	}
	.sps-print-footer {
		display: none
	}
}
@media screen and (min-width: 1024px) {
    .is-navbar {
        padding-left: 32px;
        padding-right: 32px;
        max-width: none;
    }
}
